.article{
    background-color: $veryLightGray;

    &__content{

    }

    &__grid{

        @include breakpoint-up(large){
            grid-template-columns: repeat(4, 1fr);
        }

        @include breakpoint-up(medium){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        
    }

    &__item{
        
    }
    &__img{
        
    }
    &__text{
        
    }
    &__author{
        
    }
    &__title{
        
    }
    &__description{
        
    }
}